#calculadora {
    background: rgb(24, 10, 218);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#calculadora input {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#sptotal {
    background: black;
    color: rgb(20, 204, 228);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#calculadora button {
    background:rgba(0, 0, 0, 0.116);
    color: blueviolet;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#calculadora button: :hover {
    background: ;
    color: :black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
